.tab_panel_component {
    position: relative;
    height: 100%;
    width: 100%;
    .tab_list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #262626;
        .tab {
            width: 80px;
            height: 20px;
            padding: 5px 5px;
            color: white;
            background-color: #333333;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            span {
                max-width: 70px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .close-icon {
                cursor: pointer;
                &:hover {
                    color: #d6d6d6;
                }
            }
            &.tab_selected {
                background-color: #1e1e1e;
            }
            &:hover {
                span {
                    color: #d6d6d6;
                }
            }
        }
    }
    .tab_panel {
        position: absolute;
        top: 30px;
        right: 0;
        left: 0;
        bottom: 0;
        &.tab_panel_selected {
            z-index: 1;
        }
    }
}
